version: "2.1"
services:
 # server:
 #   image: jetbrains/teamcity-server:${TEAMCITY_VERSION}
 #   ports:
 #     - "8112:8111"
 #   volumes:
 #     - ./teamcity-server/data:D:/ProgramData/JetBrains/TeamCity
 #     - ./teamcity-server/logs:D:/TeamCity/logs
 #   mem_limit: 2g
  agent:
    image: jetbrains/teamcity-agent:${TEAMCITY_VERSION}
    environment:
      - SERVER_URL=http://192.168.29.112:8111
      - TEAMCITY_SERVER_MEM_OPTS=-Xmx2g -XX:ReservedCodeCacheSize=350m
